*{
	padding: 0;
	margin: 0;
}
html {
    padding:0;
    margin:0;
    height: 100%;
}

body {
    padding:0;
    margin:0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


main {
    height: 100%;
    padding:0;
    margin:0;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
}


.add_teacher{
	display: flex;
	justify-content: center;
	background-image: url("/static/images/bg_background.png");
	width: 100%;
	flex-grow: 1;
    height: 100%;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.page_titre{
	color: #FFF;
	font-family: var(--title-font);
	font-weight: bold;
	text-align: center;
	flex-basis: 100%;
	font-size: 3vw;
}

#centeredBox{
	width: 50vw;
	padding: 5%;
}

#formBox{
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#formBox > *:not(#submitButton){
	margin: 2%;
	flex-basis: 100%;
	width: 80%;
}

#fieldsBox{
	display: flex;
	justify-content: space-between;
}

.fields{
	line-height: 2em;
	border: none;
	text-align: center;
	background-color: var(--textfield-grey);
}

.higherFields{
	width: 45%;
	border-bottom-right-radius: 2em;
	border-bottom-left-radius: 2em;
}

.lowerFields{
	border-bottom-right-radius: 2em;
	border-top-left-radius: 2em;
}


.inputElem:focus{
	outline: none;
	background-color: #FFF;
}

#errorMsg{
	text-align: center;
}


#submitButton{
	border-radius: 1em;
	border: none;
	padding: 0.5em;
	background-color: var(--button-petrol); 
	color: #FFF;
}
