
#nav{
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.btns {
    padding-left: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start;
    background-color: white;
    padding-left: 1em;
  }

.logo {    
  height: 100px;
  width: 250px;
}

.logo img{
  max-height: 100%;
  max-width: 100%;
}

.header_pseudo{
  margin-top: 0.8em;
}

.header_nom{
  margin-top: 0.8em;
}

.icon{
  height: 50px;
  padding-left: 2em;
}
